//EKF Modded

@use '../abstracts' as *;

.page-width {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 0 1.5rem; //Modded
  @include media-query($small) {
    padding: 0 1rem;
  }
}

.page-width-desktop {
  padding: 0;
  margin: 0 auto;
}

@include media-query($medium-up) {

  .page-width {
    padding: 0 3.5rem;
  }

  .page-width--narrow {
    padding: 0 7rem;
  }

  .page-width-desktop {
    padding: 0 1.2rem;
  }
}

@include media-query($large-up) {
  .page-width {
    padding: 0 5rem;
  }
  .page-width--narrow {
    padding: 0 9rem;
  }
  .page-width--narrow {
    max-width: 72.6rem;
    padding: 0;
  }

  .page-width-desktop {
    max-width: var(--page-width);
    padding: 0 5rem;
  }
}

.rte-width {
  max-width: 82rem;
  margin: 0 auto 2rem;
}

.section + .section {
  margin-top: var(--spacing-sections-mobile);
}

@media screen and (min-width: 750px) {
  .section + .section {
    margin-top: var(--spacing-sections-desktop);
  }
}

.element-margin-top {
  margin-top: 5rem;
}
@include media-query($medium-up)  {
  .element-margin {
    margin-top: calc(5rem + var(--page-width-margin));
  }
}



.page-margin,
.shopify-challenge__container {
  margin: 7rem auto;
}