@use '../abstracts' as *;

.page-width {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 0 1.5rem;
}

.page-width-desktop {
  padding: 0;
  margin: 0 auto;
}

@include media-query($medium-up) {

  .page-width {
    padding: 0 3.5rem;
  }

  .page-width--narrow {
    padding: 0 7rem;
  }

  .page-width-desktop {
    padding: 0;
  }
}

@include media-query($large-up) {
  .page-width {
    padding: 0 5rem;
  }
  .page-width--narrow {
    padding: 0 9rem;
  }
  .page-width--narrow {
    max-width: 72.6rem;
    padding: 0;
  }

  .page-width-desktop {
    max-width: var(--page-width);
    padding: 0 5rem;
  }
}

.rte-width {
  max-width: 82rem;
  margin: 0 auto 2rem;
}

.element-margin {
  margin-top: 5rem;
}

.spaced-section {
  margin-top: 5rem;
}

.spaced-section:last-child {
  margin-bottom: 5rem;
}

.spaced-section--full-width + .spaced-section--full-width {
  margin-top: 0;
}

.spaced-section--full-width:first-child {
  margin-top: 0;
}

.spaced-section--full-width:last-child {
  margin-bottom: 0;
}



.page-margin,
.shopify-challenge__container {
  margin: 7rem auto;
}