@use '../abstracts' as *;
/* component-grid */
.grid {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  margin-left: -0.5rem;
  padding: 0;
  list-style: none;

}
.grid.grid-grid {
  --pg-w: 200px;
  --pg-mw: 300px;
  --pg-g: 12px;
   @include media-query($medium-up) {
    --pg-w: 240px;
    --pg-g: 15px;
  }
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(var(--pg-w), 1fr) );
  grid-gap: var(--pg-g);
  width: 100%;
  margin:3rem 0 4rem;

  @include media-query($tiny) {
    margin: 2rem 0 3rem;
    &:not(.grid-grid--large):not(.grid-grid--huge):not([data-max="1"]) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &.center-insufficient {
    margin-left: auto;
    margin-right: auto;
  }

  &[data-max="1"] {
    max-width: calc(1 * (var(--pg-mw) + var(--pg-g)));
  }
  &[data-max="2"] {
    max-width: calc(2 * (var(--pg-mw) + var(--pg-g)));
  }

  &[data-max="3"] {
    max-width: calc(3 * (var(--pg-mw) + var(--pg-g)));
  }

  &[data-max="4"] {
    max-width: calc(4 * (var(--pg-mw) + var(--pg-g)));
  }

  .grid__item, .card-wrapper {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
    display: flex;
  }
  .grid__item {
    align-self: stretch;
    align-items: stretch;
    justify-content: stretch;
  }

  .card-wrapper {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }

  &.grid-grid--small {
    --pg-w: 170px;
    --pg-mw: 320px;
    --pg-g: 10px;
     @include media-query($medium-up) {
      --pg-w: 220px;
      --pg-g: 12px;
    }

  }
  &.grid-grid--large {
    --pg-w: 260px;
    --pg-mw: 400px;
    --pg-g: 15px;
     @include media-query($medium-up) {
      --pg-w: 300px;
      --pg-g: 15px;
    }
  }
  &.grid-grid--huge {
    --pg-w: 300px;
    --pg-mw: 550px;
    --pg-g: 15px;
     @include media-query($medium-up) {
      --pg-w: 340px;
      --pg-g: 15px;
    }

  }
  .card-wrapper > a , .card {
    padding: 0;
    // margin: auto 0;
    width: 100%;
    // display: flex;
    // flex-direction: column;
    // justify-content: stretch;
    // height: 100%;
  }
  // .card--product {
  //   flex: 1 0 auto;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: stretch;
  // }
  // .card__inner  {
  //   width: 100%;
  //   //needed to fix flex problems
  // }
  // .card-information {
  //   flex: 0 0 auto;
  // }

  &.collection-left {
    margin-left: 0;
    margin-right: auto;
  }
}

@media screen and (min-width: 750px) {
  .grid {
    margin-left: -1rem;
  }
}

.grid__item {
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  width: calc(25% - 0.5rem * 3 / 4);
  flex-grow: 1;
  flex-shrink: 0;

  @include media-query($medium-up) {

    padding-left: 1rem;
    padding-bottom: 1rem;
    width: calc(25% - 1rem * 3 / 4);
    max-width: 50%;
  }

}


.grid--gapless .grid__item {
  padding-left: 0;
  padding-bottom: 0;
}

@media screen and (max-width: 749px) {
  .grid__item.slider__slide--full-width {
    width: 100%;
    max-width: none;
  }
}

// // @media screen and (min-width: 750px) and (max-width: 989px) {
// //   .grid--one-third-max.grid--3-col-tablet .grid__item {
// //     max-width: 33.33%;
// //   }
// // }

// // @media screen and (min-width: 990px) {
// //   .grid--quarter-max.grid--4-col-desktop .grid__item {
// //     max-width: 25%;
// //   }
// // }

// .grid--1-col .grid__item {
//   max-width: 100%;
//   width: 100%;
// }

// .grid--3-col .grid__item {
//   width: calc(33.33% - 0.5rem * 2 / 3);
// }

// @media screen and (min-width: 750px) {
//   .grid--3-col .grid__item {
//     width: calc(33.33% - 1rem * 2 / 3);
//   }
// }

// .grid--2-col .grid__item {
//   width: calc(50% - 0.5rem / 2);
// }

// // .product-grid .grid__item.grid__item--product {
// //   flex-grow: 0;
// //   padding-bottom: 0.5rem;
// // }

// @media screen and (min-width: 750px) {
//   .grid--2-col .grid__item {
//     width: calc(50% - 1rem / 2);
//   }

//   .grid--4-col-tablet .grid__item {
//     width: calc(25% - 1rem * 3 / 4);
//   }

//   .grid--3-col-tablet .grid__item {
//     width: calc(33.33% - 1rem * 2 / 3);
//   }

//   .grid--2-col-tablet .grid__item {
//     width: calc(50% - 1rem / 2);
//   }
// }

// @media screen and (min-width: 990px) {
//   .grid--4-col-desktop .grid__item {
//     width: calc(25% - 1rem * 3 / 4);
//   }

//   .grid--3-col-desktop .grid__item {
//     width: calc(33.33% - 1rem * 2 / 3);
//   }

//   .grid--2-col-desktop .grid__item {
//     width: calc(50% - 1rem / 2);
//   }
// }

@media screen and (max-width: 989px) {
  .slider--tablet.grid--peek {
    margin: 0;
    width: 100%;
    display: flex;
  }

  .slider--tablet.grid--peek .grid__item {
    box-sizing: content-box;
    margin: 0;
  }
  .slider--tablet.grid--peek .grid__item:first-of-type {
    padding-left: 1.5rem;
  }

  .slider--tablet.grid--peek .grid__item:last-of-type {
    padding-right: 1.5rem;
  }
  .slider--tablet.grid--peek .grid__item {
    width: calc(33.33% - 4rem * 2 / 3);
  }

  .slider--tablet.grid--peek.grid--small .grid__item {
    width: calc(50% - 4rem / 2);
  }
}

.grid__item--vertical-align {
  align-self: center;
}

.grid__item.grid__item--full-width {
  flex: 0 0 100%;
  max-width: 100%;
}

@media screen and (max-width: 749px) {
  .grid--peek.slider--mobile {
    margin: 0;
    width: 100%;
  }

  .grid--peek.slider--mobile .grid__item {
    box-sizing: content-box;
    margin: 0;
  }

  .grid--peek.slider--mobile .grid__item ,
  .grid--peek.slider--tablet .grid__item {
    width: calc(50% - 3.75rem / 2);
  }

  .grid--peek.slider--mobile .grid__item:first-of-type ,
  .grid--peek.slider--tablet .grid__item:first-of-type {
    padding-left: 1.5rem;
  }

  .grid--peek.slider--mobile .grid__item:last-of-type ,
  .grid--peek.slider--tablet .grid__item:last-of-type {
    padding-right: 1.5rem;
  }
}
