@use '../abstracts' as *;

//Begin ekf grid

.grid.grid-grid {

  display: grid;
  // grid-template-columns: repeat(2, 1fr);

  width: 100%;
  margin: 3rem auto 4rem;
  margin: 2rem auto 3rem;

  .grid__item {
    grid-column: span 2;
  }



  &.center-insufficient {
    margin-left: auto;
    margin-right: auto;
  }


  &[data-max="1"] {
    grid-template-columns: repeat(2, 1fr);
    max-width: calc(1 * (var(--pg-mw) + var(--grid-desktop-horizontal-spacing)));
    .grid__item {
      grid-column-end: auto !important;
    }
  }
  &[data-max="2"] {
    max-width: calc(2 * (var(--pg-mw) + var(--grid-desktop-horizontal-spacing)));
    @include media-query($medium-up) {
      grid-template-columns: repeat(4, 1fr);
    }
    .grid__item {
      grid-column-end: auto !important;
    }
  }

  &[data-max="3"] {
     @include media-query($widescreen) {
      grid-template-columns: repeat(6, 1fr);
    }
    .grid__item {
      grid-column-end: auto !important;
    }
  }

  &.grid---small[data-max="4"],
  &.grid---medium[data-max="4"] {
    @include media-query($medium-up) {
      grid-template-columns: repeat(8, 1fr);
      .grid__item {
      grid-column-end: auto !important;
    }
    }
  }
  &.grid---large[data-max="4"] {
    @include media-query($large-up) {
      grid-template-columns: repeat(8, 1fr);
    }
  }
  &[data-max="3"],
  &[data-max="6"] {
    max-width: calc(3 * (var(--pg-mw) + var(--grid-desktop-horizontal-spacing)));
    .grid__item {
      grid-column-end: auto !important;
    }

  }


  &[data-max="4"],
  &[data-max="7"],
  &[data-max="8"] {
    max-width: calc(4 * (var(--pg-mw) + var(--grid-desktop-horizontal-spacing)));

  }

  &[data-max="4"] {
    &.grid-grid--huge {
      max-width: calc(2 * (var(--pg-mw) + var(--grid-desktop-horizontal-spacing)));
    }
  }

  .grid__item, .card-wrapper {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
    display: flex;
  }
  .grid__item {
    align-self: stretch;
    align-items: stretch;
    justify-content: stretch;
  }

  .card-wrapper {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }



  .card-wrapper > a , .card {
    padding: 0;
    // margin: auto 0;
    width: 100%;
    // display: flex;
    // flex-direction: column;
    // justify-content: stretch;
    // height: 100%;
  }
  // .card--product {
  //   flex: 1 0 auto;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: stretch;
  // }
  // .card__inner  {
  //   width: 100%;
  //   //needed to fix flex problems
  // }
  // .card-information {
  //   flex: 0 0 auto;
  // }

  &.collection-left {
    margin-left: 0;
    margin-right: auto;
  }
}
