<div class="password__footer gradient color-{{section.settings.color_scheme}}">
  {% render 'socials-ul' %}
  <small class="password__footer-login password__footer-text">{{ 'general.password_page.admin_link_html' | t }}</small>
</div>