{% comment %}
  product: required product object
  location: required string describing location
{% endcomment %}
{% assign should_show = false %
{%- if location == settings.visible_tags_location -%}
  {% assign visible_tags = settings.visible_tags | replace: '<p>', '' | replace: '</p>' , '' | newline_to_br | split: '<br />' | strip_newlines | strip %}
  {%- capture tag_markup -%}
  {%- for tag in product.tags -%}
    {%- if visible_tags contains tag -%}
      <dt class="label">{{tag}}</dt>
    {%- endif -%}
  {%- endfor -%}
  {%- endcapture -%}
  {%- if tag_markup != blank -%}
    <dl class="visible-tags">
      {{ tag_markup}}
    </dl>
  {%- endif -%}
{%- endif -%}