@use "../../abstracts/" as *;

span.form__label.label__title {
  font-size: 1.15em;
  font-weight: var(--font-heading-weight);
}

.checkbox-wrap {
  display: flex;
  padding: 0.3rem 0;
  input[type="hidden"]{
    display: none;
  }
 .label__title:only-child {
    padding-top: 0.5em;
  }
  input[type="checkbox"]{
    @include visually-hidden;
  }
  label {
    position: relative;
    display: block;
    padding-left: 38px;

    &::before, &::after {
      @extend %psuedo;
      left: 0;
      top: clamp(0.5em, 50%, 50%);
      transform: translateY(-50%);
      width: 22px;
      height: 22px;
      text-align: center;

    }

    &::before {
      border: 1px solid currentColor;
      border-radius: var(--buttons-radius);
    }

    &::after {
      content:'✓';
      font-size: 18px;
      line-height: 22px;
      opacity: 0;
      transition: opacity 200ms ease;
    }
  }

  input:checked + label {
    &::after {
      opacity: 1;
    }
  }
  .label__title
  .label__title, .label__sub {
    display: block;
    line-height: 1.1;
    &:not(:last-child) {
      margin-bottom: 0.5em;;
    }
  }
  .label__sub {
    font-weight: 400;
    // font-weight: var(--font-body-weight);
  }
}