.divider {
  margin: auto;
  border: none;
  display: block;
  background: rgb(var(--color-foreground));
  &.style--transparent {
    opacity: 0;
  }
  &.style--half-width {
    width: 50%;
    max-width: calc(var(--page-width, 800px) / 2);
  }
  &.style--full-width {
    width: 100%;
    max-width:var(--page-width, 1600px);
  }
  &.style--small-width {
    width: clamp(120px, 33%, 450px);

  }
}