

.product-grid .grid__item {
  padding-bottom: 2rem;
}

.product-grid.negative-margin {
  margin-bottom: -2rem;
}

 .grid.product {
    flex-wrap:wrap;
    max-width: 600px;

    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 520px) {
    .grid.product {
      width: 96%;
    }
  }

@media screen and (min-width: 750px) {
  .grid.product {
    flex-wrap:nowrap;
    width: 100%;
    max-width: 100%;
  }
  .product-grid .grid__item {
    padding-bottom: 5rem;
  }

  .product-grid.negative-margin {
    margin-bottom: -5rem;
  }

  .product-grid.negative-margin--small {
    margin-bottom: -1rem;
  }
}
