@use "../../abstracts/" as *;

.product-grid .grid__item {
  padding-bottom: 2rem;
  position: relative;
}

.grid-grid {
  grid-template-columns: repeat(2, 1fr);
}

  .grid-grid--small,.grid-grid--medium {
    grid-template-columns: repeat(4, 1fr);
    --pg-g: 10px;
    --pg-mw: 250px;
    &.center-insufficient {
      @include centerColumns(2, ".grid__item");
    }
    @include media-query($medium-up) {
      --pg-g: 12px;
       --pg-mw: 320px;
    }
    @include media-query($medium) {
      grid-template-columns: repeat(6, 1fr);
      &.center-insufficient {
        @include centerColumns(3, ".grid__item");
      }
    }
    @include media-query($large-up) {
        --pg-mw: 350px;
      grid-template-columns: repeat(8, 1fr);
     &.center-insufficient {
        @include centerColumns(4, ".grid__item");
     }
    }

  }

  .grid-grid--small {
      @include media-query($widescreen) {
        grid-template-columns: repeat(10, 1fr);
        &.center-insufficient {
          @include centerColumns(5, ".grid__item");
        }
      }
    }


.grid-grid--large {
  --pg-mw: 340px;
  --pg-g: 12px;
  grid-template-columns: repeat(4, 1fr);
  @include media-query($tiny) {
  grid-template-columns: repeat(2, 1fr);
  }
  @include media-query($medium) {
      --pg-g: 15px;
      &.center-insufficient {
        @include centerColumns(2, ".grid__item");
      }
    }
    @include media-query($large) {
      --pg-g: 18px;
      --pg-mw: 430px;
      grid-template-columns: repeat(6, 1fr);
      &.center-insufficient {
          @include centerColumns(3, ".grid__item");
      }
    }
    @include media-query($widescreen) {
      --pg-mw: 520px;
      grid-template-columns: repeat(8, 1fr);
      &.center-insufficient {
          @include centerColumns(4, ".grid__item");
      }
    }
  }
.grid-grid--huge {
  --pg-mw: 400px;
  --pg-g: 15px;
  grid-template-columns: repeat(2, 1fr);
  @include media-query($medium) {
    grid-template-columns: repeat(4, 1fr);
    &.center-insufficient {
      @include centerColumns(2, ".grid__item");
    }
  }
  @include media-query($large-up) {
    --pg-g: 20px;
    --pg-mw: 600px;
    grid-template-columns: repeat(6, 1fr);
    &.center-insufficient {
        @include centerColumns(3, ".grid__item");
    }
  }
  @include media-query($widescreen) {
    --pg-g: 24px;
    --pg-mw: 700px;
  }
}


.product-grid.negative-margin {
  margin-bottom: -2rem;
}

@media screen and (min-width: 750px) {

  .product-grid .grid__item {
    padding-bottom: calc(5rem + var(--page-width-margin));
  }

  .product-grid.negative-margin {
    margin-bottom: calc(-5rem - var(--page-width-margin));
  }

  .product-grid.negative-margin--small {
    margin-bottom: calc(-1rem - var(--page-width-margin));
  }
}


