@use "../../abstracts/" as *;

.theme-popup {
  position: fixed;
  z-index: 1000000000;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  overflow-y: auto;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 12px;
  background: rgba(0,0,0,0.5);


  button {
    svg {
      width: 30px;
    }
    position: absolute;
    top: 3%;
    right: 3%;
    background: transparent;
    border: none;
    color: white;

  }
  &__content {
    max-width: 1000px;
    margin: auto;
    transition: transform 300ms ease, opacity 300ms ease;
    box-shadow: 0 0 100px black;
    opacity: 0;
    transform: scale(0.95);
    position: relative;
  }

   &[open] {
    display: flex;

    .theme-popup__content {
      opacity: 1;
      transform: scale(1);
    }
  }



}