
    {% if settings.grid_swatches_enabled == true %}
      <script defer src="{{ 'grid-swatches.js' | asset_url }}"></script>
      {{ 'component-grid-swatches.css' | asset_url | stylesheet_tag }}
    {% endif %}


    {% if settings.footer_code != blank %}
    {{ settings.footer_code }}
    {% endif %}
    {% render 'browser-update' %}

    {% if settings.fixed_socials_position != 'disabled' %}
    <div class="fixed-socials">
      {% render 'socials-ul' with disable_animation: true %}
    </div>
    <style>
      .fixed-socials {
        position: fixed;
        z-index: 200000000;
        top: 50%;
        padding: 10px;
        transform: translateY(-50%);
        {% if settings.fixed_socials_position == 'right' %}
          right: 0;
        {% endif %}

        {% if settings.fixed_socials_position == 'left' %}
          left: 0;
        {% endif %}
      }
      .fixed-socials ul {
        display: block;
      }
    </style>
    {% endif %}

    {% render 'theme-popup' %}