@use '../../abstracts/' as *;
/* Header icons */
.header__icons {
  display: flex;
  grid-area: icons;
  justify-self: end;
}

.header__icon {

  span, &:not(.header__icon--summary) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  span {
    height: 100%;
  }

  &::after {
    content: none;
  }

  .icon {
    height: 1.2em;
    width: 1.2em;
    fill: none;
    vertical-align: middle;
    @include media-query($tiny) {
      width: 1em;
      height: 1em;
    }
  }

  & .icon-cart {
    height: 1.5em;
    width: 1.5em;
  }
  & {
  // &--cart .icon {
    height: 2.4em;
    width: 2.4em;
    @include media-query($tiny) {
      width: 2em;
      height: 2em;
    }
  }

  &--cart {
    position: relative;
    // @include media-query($medium-up) {
    //   margin-right: -1.2rem;
    // }
  }
}

.header__icon:hover .icon,
.modal__close-button:hover .icon {
  transform: scale(1.07);
}

.header__icon--menu[aria-expanded="true"]::before {
  content: "";
  top: 0;
  left: 0;
  height: calc(100 * var(--vh, 1vh));
  width: 100%;
  display: block;
  position: fixed;
  background: rgba(var(--color-foreground), 0.5);
}