@use "../../abstracts/" as *;
/* Search */
menu-drawer + .header__search {
  display: none;
}

.header > .header__search {
  grid-area: left-icon;
  justify-self: start;
}

// .header:not(.header--has-menu) * > .header__search {
//   display: none;
// }

.header__search {
  display: inline-flex;
  line-height: 0;
}

@include media-query($medium-up) {
  .header:not(.header--top-center) * > .header__search,
  .header--top-center > .header__search {
    display: inline-flex;
  }

  .header:not(.header--top-center) > .header__search,
  .header--top-center * > .header__search {
    display: none;
  }
}