@use "../abstracts" as *;

/* section-announcement-bar */
#shopify-section-announcement-bar {
  z-index: 4;
  position: absolute;
  bottom: 100%;
  width: 100%;
}

announcement-bar {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.2);
  color: rgb(var(--color-foreground));
  background: rgb(var(--color-background));
  padding-right: 32px;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;

  @include media-query($medium-up) {
    padding-left: 32px;
  }

  [data-close] {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
  }
  [data-close] svg{
    width: 20px;
  }

  &.announcement-dismissed {
    height: 0;
  }

  &.gradient {
    background-attachment: unset;
  }
}

.announcement-bar__link {
  display: block;
  width: 100%;
  padding: 1rem 2rem;
  text-decoration: none;
}

.announcement-bar__link:hover {
  color: rgb(var(--color-foreground));
  background-color: rgba(var(--color-card-hover), 0.06);
}

.announcement-bar__link .icon-arrow {
  display: inline-block;
  height: 1.2rem;
  pointer-events: none;
  padding-left: 1rem;
  vertical-align: middle;
  margin-bottom: 0.2rem;
}

@media screen and (min-width: 750px) {
  .announcement-bar__link .icon-arrow {
    height: 1.3rem;
  }
}

.announcement-bar__link .announcement-bar__message {
  padding: 0;
}

.announcement-bar__message {
  text-align: center;
  padding: 1rem 2rem;
  margin: 0;
  letter-spacing: 0.1rem;
}