@use "./abstracts/" as *;

@import "~swiper/swiper.scss";
@import "~swiper/components/a11y/a11y.scss";
@import "~swiper/components/thumbs/thumbs.scss";
@import "~swiper/components/lazy/lazy.scss";
@import "~swiper/components/pagination/pagination.scss";
@import "~swiper/components/navigation/navigation.scss";
@import "~swiper/components/effect-fade/effect-fade.scss";

ul.swiper-wrapper {
  list-style: none;
  padding: 0;
  margin: 0;
}

slider-element {
  display: block;
  position: relative;
  background: var(--color-foreground);

  --swiper-theme-color: white;
}
.swiper-pagination-bullet {
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}

div.swiper-slide, li.swiper-slide {
  height: 100%;

  .auto-height & {
    height: auto;
  }

  .banner__content {
    position: absolute;
    z-index: 3;
    height: 100%;
    box-sizing: border-box;
    width: 100%;
    top: 0;
    padding:0;
  }
}

.content-image {
  width: 70%;
  margin: 1rem auto;
  @include media-query($medium-up) {
    width: 85%;
  }
}

html.js .swiper-slide.swiper-slide-active {
  .banner__content {
    animation: slide-up 0.5s $ease 1 forwards;
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.swiper-navigation {
  position: absolute;
  top: 50%;
  margin: -25px 0 -25px;
  width: 100%;
  z-index: 12;
}

button[data-prev],
button[data-next] {
  padding: 12px;
  appearance: none;
  border: 0;
  background: transparent;
  position: absolute;
  top: 0;
  border-radius: 0;
  color: var(--swiper-theme-color);
  display: inline-block;

  svg {
    width: 24px;
    height: auto;
    fill: currentColor;
  }
}

button[data-prev] {
  left: 0;
  svg {
    transform: rotate(90deg)
  }
}
button[data-next] {
  right: 0;
  svg {
    transform: rotate(-90deg)
  }
}

