@use "../abstracts/" as * ;

.background-element {
  @extend %psuedoish;
  z-index: 0;
  background: var(--oc, #000000);
  overflow: hidden;

  //  &::before {
  //   @extend %psuedo;
  //   z-index: 2;
  //   opacity: var(--oo, 0);
  //   background-color: var(--oc, #000000);
  // }
  .media  {
    @extend %psuedoish;
  }
  &__overlay {
    @extend %psuedoish;
    pointer-events: none;
    z-index: 2;
  }
}

.background-element .media video-background {
   @extend %psuedoish;


  z-index: 0;
  img, video {
    object-fit: cover;
  }
  iframe, video {
    pointer-events:  none;
  }
  // background: var(--oc, #000000);
  //  &::before {
  //   @extend %psuedo;
  //   z-index: 2;
  //   opacity: var(--oo, 0);
  //   background-color: var(--oc, #000000);
  // }

}

.background-element .media  .custom-fallback-image {
  transition: opacity 200ms ease;
  @extend %psuedoish;
  // opacity: 0;
}