

/* component-button */
/* Button - default */

.button,
.shopify-challenge__button,
.customer button {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font: inherit;
  padding: 0.9rem 3rem 1.1rem;
  text-decoration: none;
  border: 0;
  border-radius: 0;
  background-color: rgba(var(--color-button), var(--alpha-button-background));
  box-shadow: 0 0 0 0.1rem rgba(var(--color-button), var(--alpha-button-border));
  color: rgb(var(--color-button-text));
  min-width: 12rem;
  min-height: 4.5rem;
  transition: box-shadow var(--duration-short) ease;
  -webkit-appearance: none;
  appearance: none;
}

.button:focus-visible {
  box-shadow: 0 0 0 0.1rem rgba(var(--color-button), var(--alpha-button-border)),
    0 0 0 0.3rem rgb(var(--color-background)),
    0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
}

.button:focus {
  box-shadow: 0 0 0 0.1rem rgba(var(--color-button), var(--alpha-button-border)),
    0 0 0 0.3rem rgb(var(--color-background)),
    0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
}

.button,
.button-label,
.shopify-challenge__button,
.customer button {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  line-height: 1.2;
}

.button--tertiary {
  font-size: 1.2rem;
  padding: 1rem 1.5rem;
  min-width: 9rem;
  min-height: 3.5rem;
}

.button--small {
  padding: 1.2rem 2.6rem;
}

/* Button - hover */

.button:not([disabled]):hover,
.shopify-challenge__button:hover,
.customer button:hover {
  box-shadow: 0 0 0 0.2rem rgba(var(--color-button), var(--alpha-button-border));
}

/* Button - other */

.button:disabled,
.button[aria-disabled='true'],
.button.disabled,
.customer button:disabled,
.customer button[aria-disabled='true'],
.customer button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.button--full-width {
  display: flex;
  width: 100%;
}

.button.loading {
  color: transparent;
}

.button.loading:after {
  animation: loading var(--duration-long) infinite linear;
  border: 0.5rem solid rgba(var(--color-button-text), 0.4);
  border-left: 0.5rem solid rgb(var(--color-button-text));
  border-radius: 100%;
  box-sizing: content-box;
  content: '';
  display: block;
  height: 2rem;
  position: absolute;
  width: 2rem;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Button - social share */

.share-button {
  display: block;
  position: relative;
}

.share-button__button .icon-share {
  margin-right: 1rem;
}

.share-button__fallback {
  border: 0.1rem solid rgba(var(--color-foreground), 0.1);
  background: rgb(var(--color-background));
  padding: 2rem;
  position: absolute;
  top: 4rem;
  left: -0.1rem;
  z-index: 3;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.share-button__fallback .button {
  margin-top: 1rem;
}

.share-button__fallback .icon-clipboard {
  height: 1.4rem;
  width: 1.8rem;
}

.share-button__message:not(:empty) {
  font-size: 1.2rem;
  text-align: right;
  display: block;
  margin-top: 0.5rem;
}