.common-header {
  &.layout--centered, &.text--center {
    text-align: center;
    display: block;
    margin: auto;
  }
}
//Banner buttons fix
.h4.label + .banner__buttons--multiple {
    margin-top: 2.3rem;
}