@mixin drawer() {
  --color-background: var(--drawer-background-color);
  --color-foreground: var(--drawer-foreground-color);
  --color-button: var(  --drawer-accent-color, var(--color-background));
  --color-button-text: var(  --drawer-accent-inverse-color, var(--color-foreground));
  border-width: 0 0 0 var(--drawer-border-width);
  border-color: rgba(var(--color-foreground), var(--drawer-border-opacity));
  border-style: solid;
  filter: drop-shadow(
    var(--drawer-shadow-horizontal-offset)
    var(--drawer-shadow-vertical-offset)
    var(--drawer-shadow-blur-radius)
    rgba(var(--color-shadow), var(--drawer-shadow-opacity))
  );
  background: rgb(var(--color-background));
  color: rgb(var(--color-foreground));

  a {
    color: rgb(var(--color-foreground));
    &:hover {
      color: rgb(var(--color-accent));
    }
  }


}