@use "../abstracts/" as *;

.html-wrap {
 &.size--video {
   display: block;
   position: relative;
  width: 100%;
  max-width: $grid-large;
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 60%;
  }
  iframe {
    @extend %psuedoish;
  }
 }
}