dl.tags {
  margin: 0.1em 0;

  &.location--above {
    margin-bottom: 0.6em;
  }
  &.location--below {
    margin-top: 0.6em;
  }
}

.tag--box dt, .tag--bubble dt {
  padding: 0.2em 0.8em;
  display: inline-block;
}

.tab--bubble dt {
  border-radius: 1em;
}