/* base */
.center {
  text-align: center;
}

.right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.light {
  opacity: 0.7;
}

details > * {
  box-sizing: border-box;
}

.break {
  word-break: break-word;
}