<div class="background-element color--{{ section.settings.color_scheme }}" >
  {% if section.settings.overlay_color != blank and section.settings.overlay_opacity != blank %}
    <div class="background-element__overlay" style="background-color: {{ section.settings.overlay_color | default : 'black' }}; display: block; opacity: {{ section.settings.overlay_opacity | divided_by: 100.00 | default: 0.5 }}"></div>
  {% endif %}
{% if section.settings.image %}
  {% if section.settings.video_type == "external" %}
    {% render 'media' with type: 'video',  video: section.settings.youtube_url, poster: section.settings.image, allow_unmute: section.settings.allow_unmute %}
  {% elsif section.settings.video_type == "uploaded" %}
    {% render 'media' with type: 'video', video: section.settings.uploaded_url, video_small: section.settings.uploaded_url_small, poster: section.settings.image, allow_unmute: section.settings.allow_unmute %}
  {% else %}
    {% render 'media' with type: 'image', image: section.settings.image %}
  {% endif %}
  <style>
    body {
      color: rgba(var(--color-foreground), 0.75);
      background-color: rgb(var(--color-background));

      {% case section.settings.color_scheme %}
        {% when 'transparent-dark' %}
            color: #000000;
            --color-background: transparent;
            --color-foreground: 0, 0, 0;
            --color-button-text: 255,255,255;
        {% when 'transparent-light' %}
            color: #ffffff;
            --color-link: rgb(var(--color-foreground), 0.75);
            --color-background: transparent;
            --color-foreground: 255, 255, 255;
            --color-button-text: 0,0,0;
        {% when 'accent-1' %}
          --color-foreground: var(--color-base-solid-button-labels);
          --color-background: var(--color-base-accent-1);
          --gradient-background: var(--gradient-base-accent-1);
        {% when 'accent-2' %}
          --color-foreground: var(--color-base-solid-button-labels);
          --color-background: var(--color-base-accent-2);
          --gradient-background: var(--gradient-base-accent-2);
        {% when 'inverse' %}
          --color-foreground: var(--color-base-background-1);
          --color-background: var(--color-base-text);
          --gradient-background: rgb(var(--color-base-text));
        {% when 'background-1' %}
          --color-foreground: var(--color-base-text);
          --color-background: var(--color-base-background-1);
          --gradient-background: var(--gradient-base-background-1);
        {% when 'background-2' %}
          --color-foreground: var(--color-base-text);
          --color-background: var(--color-base-background-2);
          --gradient-background: var(--gradient-base-background-2);
      {% endcase %}
    }
  </style>
{%endif %}
</div>