@use "../../abstracts/" as *;

.news-slider {
  overflow: hidden;
}
content-slider.swiper-container {
  width: 100%;
  &>ul.swiper-wrapper {
    margin: 1.75rem auto;
    margin: clamp(1.75rem, calc(1.2rem + 2vw), 4.5rem) auto;
  }
  display: block;
  overflow: visible;
  .swiper-button-disabled {
    opacity: 0.1
  }
}
.icon-link__wrap {
  margin-left: -4px;
  li {
    display: inline-block;
  }
  .icon-link {
    color: inherit;
    margin: 4px;
    padding: 2px;
    display: inline-block;

    svg {
      width: 1.25em;
      height: 1.25em;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }
}

.news-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.4rem;

  &.swiper-slide {
    height: auto;
  }


  @include media-query($medium-up) {
    padding: 12px;
  }

  &__image, &__content {
    max-width: 600px;
  }

  &__image {
    margin: 0;
    svg {
      width: 100%;
      height: auto;
    }
  }
  .rte {
    margin: 1.4rem 0;
  }

  &.layout--columns {
    width: auto;
    flex-direction: column;
    flex: 1 1 300px;
    max-width: 440px;
    height: auto;

    @include media-query($widescreen) {
      max-width: 520px;
    }
    .news-slide__image, .news-slide__content {
      width: 100%;
    }
    .news-slide__content {
      padding: 20px;
    }
  }


  &.layout--full-width {
    @include media-query($medium-up) {
      flex-wrap: nowrap;
      // max-width: 900px;

      margin: auto;
      // .news-slide__content {
      //   padding: 0.75em 0.75em 0.75em 2em;
      // }
    }
    .news-slide__content,
    .news-slide__image {
      margin: 0 0;
    }

    h3.heading.h4 {
      margin: 0 0 0.25em;
      @include media-query($large-up) {
        font-size: 32px;
      }
    }

    .news-slide__image {
      flex: 1 1 330px;
      position: relative;
      z-index: 1;
      max-width: 560px;
      @include media-query($medium-up) {
        margin-right: -10px;
        .media {
          min-height: clamp(230px, 180px + 15vw, 500px);
        }

      }
    }
    .news-slide__content {
      position: relative;
      z-index: 2;
      flex: 1 1 250px;
      max-width: 450px;
      padding: clamp(1.5rem, calc(1.2rem + 2.1vw), 3.5rem);
    }
  }
}

.news-slide .swiper-lazy-preloader {
  display: none;
}

.swiper-container-initialized .news-slide {
    flex: none;
  }